{% extends "base.html" %}
{% block content %}
<article class="media">
    <div class="container-fluid">
        <h1 style="text-align:center;text-decoration:underline;">About</h1>
    </div>
    <div style="padding-top: 0.5em;font-size:20px;">
        <p style="padding-left:100px;padding-right:100px;">This is a class project for CSE 412 that is built using Django, PostgreSQL, and BootstrapCSS.
            
            Users can make/edit music playlists and discover playlists from users that have similar tastes.


            The development team is:
            <p style="font-size:30px;text-align:center">
            Leilani Sears
            </p>
            <p style="font-size:30px;text-align:center">
            Owen O'Toole
            </p>
            <p style="font-size:30px;text-align:center">
            Will Lord
            </p>
            <p style="font-size:30px;text-align:center">
            Ryan DeHass
            </p>

        </p>
        <p style="text-align:center;">Thanks for the interest in the site!</p>
    </div>
</article>
{% endblock content %}