{% extends "base.html" %}
{% block content %}
<article class="media">
    <div class="container-fluid">
        <h1>About</h1>
    </div>
    <div style="padding-top: 0.5em">
        <p>This is a class project for CSE 412 that is built using Django, PostgreSQL, and BootstrapCSS.
            
            Users can make/edit music playlists and discover playlists from users that have similar tastes.


            The development team is:
            Leilani Sears
            Owen O'Toole
            Will Lord
            Ryan DeHass

            Thanks for the interest in the site!

        </p>
    </div>
</article>
{% endblock content %}