{% extends "base.html" %}
{% block content %}
<article class="media col-sm-6 col-sm-offset-3">
    <h1>About Spotiplaylist</h1>
    <div style="padding-top: 0.5em">
        <p>This is a class project for CSE 412 that is built using Django, PostgreSQL, and BootstrapCSS.     
            Users can make/edit music playlists from songs populated by Spotify's API and discover playlists
            from users that have similar tastes.
        </p>
        <p>The development team is:
            <ul>
                <li>Leilani Sears</li>
                <li>Owen O'Toole</li>
                <li>Will Lord</li>
                <li>Ryan DeHass</li>
            </ul>
            Thanks for the interest in the site!
        </p>
    </div>
</article>
{% endblock content %}