{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
            <!--<link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>-->

            <!--Display Title is supplied-->
            {% if playlist.playlist_name %}
            <title>{{ playlist.playlist_name }}</title>
            {% else %}
            <title>Project WIP</title>
            {% endif %}

    </head>

    <body style="background-color:rgb(190, 190, 190);">
      <header style="padding:1rem;" class="header fixed-top">
        <h2 style="word-wrap: none;">
          <a href="{% url 'home' %}" class="site-name">
            <!--I can't think of good names... change this to whatever-->
            <span>Spotiplaylist</span>
          </a>
        </h2>
        <form class="search-bar" id="search" action="{% url 'search-playlists' %}" method="get">
          <input name="q" class="search-input" type="search" placeholder="Search Playlists" />
          <button type="submit" class="search-btn">
            <img src="https://assets.stickpng.com/images/59cfc4d2d3b1936210a5ddc7.png" alt="Search Button" style="height: 16px; width: 16px;"/>
          </button>
        </form>
        <div class="header-links">
          <a href="{% url 'about' %}" class="header-btn">About</a>
          <a href="{% url 'search-songs' %}" class="header-btn">Songs</a>
          <!--Right side of header-->
          {% if user.is_authenticated %}
          <a href="{% url 'playlist-create' %}" class="header-btn">Create</a>
          <div class="dropdown">
            <img class="header-user-icon dropbtn" src="{{ user.image.url }}" alt="Account Settings" onclick="expandFunct()">
            <div class="dropdown-content" id="profile-dropdown">
              <!--<a href="{% url 'user-playlists' user.username %}">My Playlists</a>-->
              <a href="{% url 'user-playlists' user.username %}">My Profile</a>
              <a href="{% url 'user-profile' %}">Edit Account</a>
              <a href="{% url 'my-playlists' %}">Edit Playlists</a>
              <hr class="dropdown-divider">
              <a href="{% url 'logout' %}">Logout</a>
            </div>
          </div>
          {% else %}
          <a href="{% url 'login' %}" class="header-btn">Login</a>
          <a href="{% url 'register' %}" class="header-btn">Register</a>
          {% endif %}
        </div>
      </header>
      <div class="behind-header"></div>
      <div>
        {% include 'includes/messages.html' %}
        {% block content %}
        {% endblock content %}
      </div>
      <!--Javascript Goes Here-->
      <script>
        function expandFunct() {
          document.getElementById("profile-dropdown").classList.toggle("show");
        }

        window.onclick = function(event) {
          if (!event.target.matches(".dropbtn")) {
            var dropdowns = document.getElementsByClassName("dropdown-content")
            var i;
            for (i = 0; i < dropdowns.length; i++) {
              var openDropdown = dropdowns[i];
              if (openDropdown.classList.contains("show")) {
                openDropdown.classList.remove("show");
              }
            }
          }
        }
      </script>

    </body>

</html>
