{% extends "base.html" %}

{% block content %}
<div style="background-color: hsl(248, 20%, 28%, 1);">
  <section class="playlist-display">
    <h3 style="color: white; padding-top: 0.5rem;">Recently Updated Playlists: </h3>

    {% for playlist in playlists %}
    <a href="{% url 'playlist-detail' playlist.playlist_id %}" class="thumbnail-box">
      <img class="thumbnail-img" src="http://unsplash.it/250/150?gravity=center"/>
    </a>
    <div class="playlist-details">
      <a href="{% url 'playlist-detail' playlist.playlist_id %}" class="playlist-title">{{ playlist.title }}</a>
      <a href="{% url 'user-playlists' playlist.creator.username %}" class="playlist-creator">{{ playlist.creator }}</a>
      <div class="playlist-metadata">
        <span>{{ playlist.date_updated }}</span>
      </div>
    </div>
    {% endfor %}
  </section>
</div>
<h1>Hi. This is the homepage. goodbye</h1>
{% endblock content %}