{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="col-sm-6 col-sm-offset-3">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
            <legend>Create Playlist</legend>
            {{ form|crispy }}
        </fieldset>
        <div>
            <button type="submit">Build</button>
            <a href="{% url 'build-playlist' playlists.playlist_id %}">Cancel</a>
        </div>
    </form>
</div>
 {% endblock content %}