{% extends "base.html" %}

{% block content %}
<div class="mw6 center pa3 sans-serif">
    {% for p in playlists %}
    <div class="pa2 mb3 striped--near-white">
        <div class="pl2">
        <p class="mb2"> Creator: {{ p.creator.username }}</p>
        <p class="mb2"> Date created: {{ p.date_created }}</p>
        <p class="mb2"> Playlist link: {{ p.playlist_link }}</p>
        <p class="mb2"> Songs: {{ p.songs }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}
