{% extends "base.html" %}

{% block content %}
<div>
  <h1> {{ user.username }}</h1>
  <div style="background-color: hsl(248, 20%, 28%, 1);">
    <h3 style="color: white; padding-top: 0.5rem; padding-left: 1rem;">User Playlists</h3>
    <section class="playlist-container">
      {% for playlist in playlists %}
      <article class="playlist-card">
        <a href="{% url 'playlist-detail' playlist.playlist_id %}">
          <div class="playlist-cover">
            <img class="thumbnail-img" src="http://unsplash.it/200/200?gravity=center"/>
            <div class="cover-text">
              <h3 class="cover-label">Spotiplaylist</h3>
              <h5 class="cover-sublabel">Community Playlist</h5>
            </div>
            <div class="pb-wrapper">
              <button class="play-button">&#9658;</button>
            </div> 
          </div>
          <div class="playlist-metadata">
            <h4 class="playlist-title">{{ playlist.playlist_name}}</h4>
            </br>
            <a href="{% url 'user-playlists' playlist.creator.username %}" class="playlist-creator">{{ playlist.creator.username }}</a>
            </br>
          </div>
        </a>
      </article>
      {% endfor %}
    </section>
  </div>
</div>
{% endblock content %}