*, *::before, *::after {
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    outline: none;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 1;
}
.search-bar {
    display: flex;
    flex-grow: 0.25;
    margin: 0 2rem 0 4rem;
    align-self: center;
}

.search-input {
    width:100%;
    font-size: inherit;
    padding: 0.4rem;
    border: 1px solid #777;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.search-btn {
    display: flex;
    align-items: center;
    padding: 0 1.25rem;
    border: 1px solid #777;
    background-color: #F8F8F8;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
}

.search-btn:hover {
    background-color: #F0F0F0;
}

.playlist-section {

}

.playlist-section:first-child {
    border-top: none;
}

.site-name {
    text-decoration: none;
    color: black;
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
}

.behind-header {
    padding-top: 4.9rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.header-links {
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    gap: 1.5rem;
}

.header-user-icon {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background-color: #AAA;
}

.dropbtn {
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    transition: outline-color 150ms;
}

.dropdown {
    position: relative;
    display: inline-block;
    outline-color: black;
    outline-width: 1rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-left: -7.5rem;
    background-color: #F1F1F1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #DDD;}

.show {display:block;}

.playlist-card {
    --size: 200px;
    width: var(--size);
    height: 250px;
    padding: 1rem;
    background: rgb(58, 58, 58);
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background 320ms;
}

.playlist-card:hover {
    background: #242424;
}

.playlist-cover {
    width: var(--size);
    height: var(--size);
    position: relative;
    box-shadow: 
        0 4px 16px rgba(0,0,0,0.4),
        0 8px 18px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin-bottom: 2rem;
    margin-left: -1rem;
    margin-top: -1rem;
}

.cover-text {
    color: white;
    stroke-width: 0.8px;
    stroke: #242424;
    text-align: left;
    display: flex;
    flex-direction: column;
    position: absolute;
    opacity: 1;
    margin-left: 1em;

}

.cover-text::after {
    content: '';
    width: 100%;
    height: 2px;
    background:white;
    border-radius: 1px;
    opacity: 0.4;
    margin: 1rem 0;
}

.cover-label {
    font-size: 2.4rem;
    font-weight: 900;

}

.cover-sublabel {
    text-transform: uppercase;
    letter-spacing: 3px;
    order: 1;
}

.pb-wrapper {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    opacity: 0;
    transform: translateY(1rem);
    transition:
        transform 320ms,
        opacity 320ms;
}

.playlist-card:hover .pb-wrapper {
    transform: translateY(0rem);
    opacity: 1;
}

.play-button {
    width: 40px;
    height: 40px;
    color: white;
    background: black;
    border: none;
    border-radius: 50%;
    font-size: 1.8rem;
    box-shadow: 0 8px 8px rgba(0,0,0,0.3);
}

.thumbnail-image {
    background-color: #777;
}

.playlist-metadata {
    margin-top: -1.5rem;
}

.playlist-title {
    font-size: 2rem;
    text-overflow: ellipsis;
    color: white;
    text-decoration: none;
    margin-bottom: -1.75rem;
}

.playlist-creator {
    font-size: 1.25rem;
    color: white;
    text-decoration: none;
    margin-top: -3rem;
    margin-bottom: 2rem;
}

.playlist-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 1.5rem 0.75rem;
    padding: 1.5rem 0;
    margin: 0 1.5rem;
    border-top: 1px solid white;
    margin-left: 1rem;
}