{% extends 'base.html' %}

{% block content %}
<!-- template for login using the default django auth package -->
<div class="register">
    <h2>Register</h2>
    <form method="post">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Register Now </legend>
            {{ form.as_p}}
        </fieldset>
        <div>
            <button type="submit" class="btn btn-primary btn-block btn-large">Register</button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            Already Have an Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
        </small>
    </div>
</div>
{% endblock content %}