{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div>
    <div class="update-account col-sm-6 col-sm-offset-3">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Edit Account Information</legend>
                {{ form|crispy}}
            </fieldset>
            <div>
                <button type="submit" class="btn btn-primary btn-block btn-large">Update</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}